Lab: 12 - Data Analysis with Pandas

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('./vgsales.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [260]:
most_common_publisher=df['Publisher'].mode()
most_common_publisher

0    Electronic Arts
dtype: object

In [6]:
df_most_Platform=df['Platform'].mode()
df_most_Platform

0    DS
dtype: object

In [278]:
df_most_Genre=df['Genre'].mode()
df_most_Genre

0    Action
dtype: object

In [280]:
top_twenty_highest_grossing_games = df[['Global_Sales','Name']].sort_values('Global_Sales', ascending=False).nlargest(20,'Global_Sales')
top_twenty_highest_grossing_games

    Global_Sales                                          Name
0          82.74                                    Wii Sports
1          40.24                             Super Mario Bros.
2          35.82                                Mario Kart Wii
3          33.00                             Wii Sports Resort
4          31.37                      Pokemon Red/Pokemon Blue
5          30.26                                        Tetris
6          30.01                         New Super Mario Bros.
7          29.02                                      Wii Play
8          28.62                     New Super Mario Bros. Wii
9          28.31                                     Duck Hunt
10         24.76                                    Nintendogs
11         23.42                                 Mario Kart DS
12         23.10                   Pokemon Gold/Pokemon Silver
13         22.72                                       Wii Fit
14         22.00                                  Wii Fit Plus
15         21.82                            Kinect Adventures!
16         21.40                            Grand Theft Auto V
17         20.81                 Grand Theft Auto: San Andreas
18         20.61                             Super Mario World
19         20.22  Brain Age: Train Your Brain in Minutes a Day

In [304]:
df_median_sales = df[df['NA_Sales'] == df['NA_Sales'].median()].sort_values('NA_Sales', ascending=False)
# median Value
na_median_sales=df_median_sales.iloc[0].NA_Sales
# median First Name Value
ten_median_na_seller_names = df_median_sales.iloc[0].Name
df_median_sales[['NA_Sales','Name']][0:10]

       NA_Sales                               Name
446        0.08                  Dragon Warrior IV
10545      0.08              Hunter: The Reckoning
10533      0.08       Dora & Kai-Lan's Pet Shelter
10532      0.08  Hot Wheels: Stunt Track Challenge
10526      0.08                        FIFA Street
10523      0.08               Colin McRae Rally 04
10516      0.08                Dora's Cooking Club
10509      0.08               Blitz: The League II
10508      0.08                 Beyond Good & Evil
10491      0.08                            Syberia

In [167]:
df_max = (df['NA_Sales'].max(),df['NA_Sales'].mean())/df['NA_Sales'].std()
df_max

array([50.80306375,  0.32407607])

In [193]:
df_wii=df[df['Platform']=='Wii']['Global_Sales'].mean()
df_wii,df['Global_Sales'].mean()

(0.6994037735849057, 0.5374406555006628)

In [306]:
##################################################################
######################### TEST ###################################
##################################################################
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher.values, "Electronic Arts")
    assert_equal(df_most_Platform.values, "DS")
    assert_equal(df_most_Genre.values, "Action")
    assert_equal(top_twenty_highest_grossing_games.iloc[0].Name, "Wii Sports")
    assert_equal(top_twenty_highest_grossing_games.iloc[19].Name, "Brain Age: Train Your Brain in Minutes a Day")
    assert_equal(na_median_sales, 0.08)
    assert_equal(ten_median_na_seller_names, "Dragon Warrior IV")

    print("Success!!!")

test()

Success!!!

Q1 => Get the 10 top ranked Wii platform productions

In [216]:
df[df['Platform'] == 'Wii'].sort_values('Rank', ascending=True)[0:10]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
39,40,Super Smash Bros. Brawl,Wii,2008.0,Fighting,Nintendo,6.75,2.61,2.66,1.02,13.04
48,49,Super Mario Galaxy,Wii,2007.0,Platform,Nintendo,6.16,3.40,1.20,0.76,11.52
60,61,Just Dance 3,Wii,2011.0,Misc,Ubisoft,6.05,3.15,0.00,1.07,10.26

Q2 => Get the top selling Genre in Japan

In [228]:
df[['JP_Sales','Genre']].sort_values('JP_Sales', ascending=False).nlargest(10,'JP_Sales').mode()

df_most_Platform=df['Platform'].mode()
df_most_Platform

   JP_Sales         Genre
0     10.22  Role-Playing

Q3 => Get 10 with less sellers in europe from the early years.

In [257]:
df[['Year','EU_Sales','Name','Genre']].nsmallest(df['Year'].count(),'Year').nsmallest(10,'EU_Sales').sort_values('Year', ascending=True)

         Year  EU_Sales                                 Name     Genre
763    1983.0       0.0                              Mahjong      Misc
1233   1984.0       0.0                              F1 Race    Racing
1324   1984.0       0.0                   4 Nin uchi Mahjong      Misc
1857   1984.0       0.0                          Lode Runner    Puzzle
2955   1984.0       0.0                                Mappy  Platform
1973   1985.0       0.0          Tag Team Match M.U.S.C.L.E.  Fighting
2020   1985.0       0.0                            Bomberman    Puzzle
3907   1985.0       0.0                        Wrecking Crew  Platform
4727   1985.0       0.0                              Dig Dug    Puzzle
15867  1985.0       0.0  Strongest Tokyo University Shogi DS    Action